venv/
venv_old/
secure_api/venv/

__pycache__/
*.pyc

.git/
.github/

logs/
secure_api/logs/

*.db
*.sqlite
database.db
app.db

postman.tar.gz
splunk-10.4.1-linux-amd64.deb

bandit-report.txt
trivy-report.txt
pytest-report.txt
safety-report.txt

automation/
security_automation/output/
